<form (ngSubmit)="login()" #userLogin="ngForm">
	<h2>User Login</h2>
	<div>
		<label for="username">Username:</label>
		<input
			[(ngModel)]="userUsername" 
			#username="ngModel"
			type="text" 
			id="username" 
			name="username" 
			required
		/>
		<div *ngIf="username.invalid && username.touched">
			<div *ngIf="username.errors?.['required']">
				Username is required.
			</div>
		</div>
	</div>

	<div>
		<label for="password">Password:</label>
		<input 
			[(ngModel)]="userPassword" 
			#password="ngModel" 
			type="password"
			id="password" 
			name="password" 
			required
		/>
		<div *ngIf="password.invalid && password.touched">
			<div *ngIf="password.errors?.['required']">
				Password must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters.
			</div>
		</div>
	</div>

	<button type="submit" [disabled]="userLogin.invalid">Login</button>
</form>
